body{
    background-color: #303030;
    height: 100vh;
}
.conteneur {
    margin-top: 10%;
}
.card{
    background-color: #303030;
    border-color: #303030 !important;
}
.btn-primary{
    background-color:#ff8c00 !important;
    border-color: #ff8c00 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color:#ff8c00 !important;
    border-color: #ff8c00 !important;
}
